#register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #f4f4f4;
}

#register {
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

#register h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#register label {
    display: block;
    margin-bottom: 0.5rem;
}

#register input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#register button[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register button[type="submit"]:hover {
    background-color: #444;
}

#register p {
    margin-top: 1rem;
    font-size: 0.8rem;
}

#register #buttons {
    margin-top: 1rem;
}

#register .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}