
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

aside {
    width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}
.glyphicon.glyphicon-user {
            position: absolute;
            top: 11px;
            left: 1210px;
        }

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

main {
    margin-left: 200px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #333;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content-block {
    margin-bottom: 50px;
}
.content-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.content-block iframe {
    width: 800px;
    height: 450px;
    margin-bottom: 20px;
}

#movimiento {
  animation-duration: 3s;
  animation-name: slidein;
  background-color: #333; /* Un color m치s oscuro */
  color: #fff; /* Texto en blanco para contraste */
  font-size: 24px; /* Tama침o de letra m치s grande */
  text-align: center; /* Centrar el texto */
  font-family: Arial, sans-serif; /* Fuente m치s profesional */
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
