/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 11/03/2024, 7:14:07 p. m.
    Author     : abel
*/

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background: linear-gradient(135deg, #3498db, #8e44ad);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: black; 
    box-sizing: border-box;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black; 
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    justify-content: space-between;
}
