/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10/03/2024, 8:41:28 p. m.
    Author     : abel
*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #660066;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mostrarDetallesBtn {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.detalle-info {
    background-color: #ecf0f1;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #bdc3c7;
    display: none;
}

#formularioAgregar {
    margin-top: 20px;
}